html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}
header {
  height: 11.73333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8vw 0 3.06667vw;
}
header .icon-bilibili {
  font-size: 7.73333vw;
  color: #fb7299;
}
header .icon-search {
  font-size: 5.06667vw;
  color: #ccc;
}
header .btn-login {
  height: 6.4vw;
  width: 6.4vw;
  margin-left: 5.33333vw;
}
header .btn-app {
  height: 6.26667vw;
  width: 19.06667vw;
  margin-left: 5.33333vw;
}
header > div {
  display: flex;
  align-items: center;
}
nav {
  height: 10.66667vw;
  display: flex;
  justify-content: space-around;
  line-height: 10.66667vw;
  color: #505050;
  font-size: 3.73333vw;
  border-bottom: 0.13333vw #efefef solid;
}
nav .active {
  color: #fb7299;
}
.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2.66667vw;
  justify-content: space-between;
}
.list .item {
  width: 46vw;
  font-size: 3.2vw;
  position: relative;
}
.list .item img {
  width: 100%;
  height: 25.86667vw;
  border-radius: 0.53333vw;
  display: block;
}
.list .item .title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 2.4vw 0 2.4vw;
}
.list .item .count-box {
  height: 5.33333vw;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), #000);
  color: white;
  position: absolute;
  top: 20.53333vw;
  display: flex;
  justify-content: space-between;
  padding: 0 1.73333vw;
  box-sizing: border-box;
}
.list .item .count-box > span {
  display: flex;
  align-items: flex-start;
}
.list .item .count-box > span .iconfont {
  margin-right: 1.73333vw;
}
