@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1637069687865') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danmushu:before {
  content: "\e665";
}

.icon-bofangshu:before {
  content: "\e666";
}

.icon-bilibili:before {
  content: "\e6b4";
}

.icon-search:before {
  content: "\e741";
}

.icon-arrow-up:before {
  content: "\e743";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

