*{
    margin: 0px;
    padding: 0px;
}
#container{
    width: 100%;
}
#header{
    width: 100%;
    height: 85px;
    opacity: 0.8;
    background: #000000;

}
#header .header-inner{
    width: 1200px;
    height: 85px;
    margin:0 auto;
}
#header .header-inner ul li
{
    list-style: none;
    float: left;
    height: 85px;
    width: 110px;
    text-align: center;
    line-height: 80px;
}
#header .header-inner ul li:hover{
    background-image: url("../images/index.png");
    background-position:0 0;
}
#header .header-inner .logo{
    float:left;
}
#header .header-inner ul li a
{
    text-decoration: none;
    font-size: 18px;
    color: #c9c9dd;
}
#header .header-inner ul li em
{
    display: block;
    font-size: 12px;
    color: #858792;
    font-style: normal;
    margin-top: -55px;
}
#header .header-inner.login{
    width: 215px;height: 85px;
    float: right;

}
#header .header-inner .login .login-pic{
    margin-top: 20px;
    width: 58px;
    height: 58px;
    float: left;
    background-image: url("../images/index.png");
    background-position: 221px 0;
}
#header .header-inner .login .login-text{
    margin-top: 25px;
    color: #ffffff;
    float: left;
}
#header .header-inner .login .login-text a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}
#header .header-inner .login .login-text p{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}
.wrap{
    width: 100%;
    height: 1100px;
    position: absolute;
    top: 0px;left: 0px;
    z-index: -1;
    background: url("../images/bg_wrapper2.jpg") no-repeat;
    background-size: 100% 100%;

}
/*==================主体网页======================*/
#main{
    width:1200px;
    height: 1500px;
    margin: 420px auto 0;
}
/*主题网页第一部分*/
#main #new{
    width: 1200px;
    height: 342px;
    border: 1px #ff0000 solid;
}
/*第一部分图片部分*/
#main #new .new-img{
    width: 236px;
    height: 342px;
    float: right;
}
#main #new .new-img a{
    display: block;
}
#main #new .new-img .download{
    width: 236px;
    height: 128px;
}
#main #new .new-img .newman{
    width: 236px;
    height: 106px;
}
#main #new .new-img .try-area{
    width: 236px;
    height: 108px;
}
/*第一部分文本部分*/
.new-text{
    width: 964px;
    height: 342px;
    float: left;
    background-image: url("../images/rotate_bg.png");
    position: absolute;
}
.new-text-left .bottom ul li{
     list-style: none;
     height: 60px;
     float: left;
     width: 121.6px;
     text-align: center;
     line-height: 40px;
     color: #c9c9dd;
 }
.new-text-left .bottom ul li:hover{
    background:#ffffff;
    color: gold;
    opacity: 0.5;
}
.new-text-right{
    width: 360px;
    height:330px;
    position: absolute;
    margin: -320px 620px;
}
.new-text-right-top{
    width: 330px;
    height: 49px;
    margin-top: 10px;
}
.new-text-right-top ul li{
    list-style: none;
    float: left;
    width: 50px;
    height: 45px;
    color: #c9c9dd;
    line-height: 55px;
    text-align: center;
    border-bottom: #000000 solid 2px;
}
.new-text-right-top ul li a{
    text-decoration: none;
    color: #c9c9dd;
}
.new-text-right-top ul li:hover{
    color: #f3c285;
    border-bottom: #f3c285 solid 2px;
}
.new-text-right-bottom{
    width: 330px;
    height: 260px;
    margin-top: 10px;
}
.new-text-right-bottom ul li{
    list-style:none;
    height:31px;
    line-height: 31px;
    width: 100%;
    margin-top: 6px;
}
.new-text-right-bottom ul>li:first-child{
    background-color: #414046;
    height: 36px;
    width: 327px;
    line-height: 36px;
    text-align: center;
}
.new-text-right-bottom ul>li:first-child a{
    font-size:18px;
    color: #f3c285;
}
.new-text-right-bottom ul li a{
    color: #c9c9dd;
    font-size:14px;
    text-decoration:none;
}
.new-text-right-bottom ul li a:hover{
    text-decoration: underline;
}
.new-text-right-bottom ul li em{
    font-size:14px;
    color:#c9c9dd;
    font-style: normal;
    float:right;
}
/*===================主体第二部分adv四张导图========================*/
.adv{
    width: 1200px;
    height: 154px;
    margin-top: 20px;
}
.adv ul li{
    width: 285px;
    height: 130px;
    float: left;
    list-style: none;
    margin-left: 10px;
}
/*====================主体第三部分内容中心=========================*/
.cont-center{
    height: 540px;
    width: 1200px;
}
/*左边*/
.cont-left{
    width: 872px;
    height: 528px;
    float: left;
}
.title{
    width: 872px;
    height: 33px;
}
.title-left{
    height: 33px;
    width: 150px;
    float: left;
}
.title-left-img{
    width: 38px;
    height: 33px;
    float: left;
    background-image: url("../images/index.png");
    background-position: 0 -140px;
}
.title-left-img h2{
    float: left;
}
.title-right{
    height: 33px;
    width: 60px;
    float: right;
}
.title-right-img{
    width: 20px;
    height: 20px;
    float: left;
    background-image: url("../images/index.png");
    background-position: -253px 0;
    margin-top: 5px;
}
.title-right span a{
    font-size: 12px;
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}

.navigate{
    width: 100%;
    height: 66px;
    margin-top: 15px;
}
.navigate ul>li{
    list-style: none;
    float: left;
    height: 32px;
    width: 289px;
    text-align: center;
    background: #f5f5f5;
    border-radius: #e1e1e1;
    line-height: 32px;
}
.navigate ul>li:hover{
    border-bottom: #f3c285 solid 2px;
}
.navigate ul>li a{
    text-decoration: none;
    color: #999999;
}
.navigate ul>li ol{
    width: 872px;
    margin-top: 10px;
    left: 0px;
}
.navigate ul>li ol li{
    display: inline;
    list-style: none;
    float: left;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    height: 28px;
    line-height: 28px;background: #f5f5f5;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
 }
.navigate ul>li ol li:hover{
    background: #f3e258;
    color: #ffffff;
}

.img-list{
    width: 872px;
    height: 376px;
    margin-top: 30px;
}
.img-list-itm{
    width: 200px;
    height: 175px;
    position: relative;
    float: left;
    margin-left: 13px;
}
.img-list-itm:hover .mask{
    display: block;
}
.img-list-itm p{
    font-size: 14px;
}
.img-list-itm .mask-text{
    height: 22px;
    width: 100%;
    position: absolute;
    bottom: 52px;
    background-color: black;
    opacity: 0.5;
    color: #e1e1e1;
}
.img-list-itm .play{
    background-image: url("../images/index.png");
    background-position: -255px -60px;
}
.img-list-itm .date{
    float: right;
}
.img-list-itm .mask{
    width: 201px;
    height: 122px;
    background: black;
    opacity: 0.5;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}
.img-list-itm .mask .m-play{
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 40px;
    background-image: url("../images/index.png");
    background-position: -192px -64px;
    display: block;
}
/*右边*/
.cont-right{
    width: 295px;
    height: 528px;
    float: right;
}
.cont-right-top{
    width: 100%;
    height: 35px;
}

.cont-title-left{
    height: 33px;
    width: 150px;
    float: left;
}
.cont-title-left-img{
    width: 38px;
    height: 33px;
    float: left;
    background-image: url("../images/index.png");
    background-position: 0 -140px;
}
.cont-title-left-img h2{
    float: left;
}
.cont-title-right{
    height: 33px;
    width: 60px;
    float: right;
}
.cont-title-right-img{
    width: 20px;
    height: 20px;
    float: left;
    background-image: url("../images/index.png");
    background-position: -253px 0;
    margin-top: 5px;
}
.cont-title-right span a{
    font-size: 12px;
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}

.cont-right-bottom ul li{
    list-style: none;
    width: 97px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    float: left;
}
.cont-right-bottom ul li:hover{
    border-bottom: #f3c285 solid 1px;
}
.cont-right-bottom img{
    margin-top: 20px;
}
.cont-right-bottom p{
    color: #999999;
}

.cont-dic{
    width: 100%;
    margin-top: 20px;
}
.cont-dic ul li{
    width: 70px;
    float: left;
    list-style: none;
    margin-left: 3px;
}
