* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 0.26rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/*广告区域开始*/
.adv {
  width: 100%;
  height: 0.9rem;
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 0 0.34rem;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.adv .logo {
  margin-right: 0.2rem;
}

.adv .title {
  flex: 1;
}

.adv .title h1 {
  font-size: 0.26rem;
  font-weight: normal;
}

.adv .title p {
  color: #888;
}

/*广告区域结束*/
/*导航条区域开始*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.9rem;
  margin-top: 0.9rem;
  background-color: #db9e3f;
}

.nav .nav-item {
  text-align: center;
  flex: 1;
}

.nav a {
  color: #fff;
  padding-bottom: 2px;
  text-decoration: none;
}

.nav .current {
  border-bottom: 2px solid #fff;
}

/*导航条区域结束*/
/*自动轮播图开始*/
.banner {
  position: relative;
}

.slider-container {
  width: 7.5rem;
  height: 3.38rem;
  display: flex;
  overflow-x: hidden;
}

.slider-container .slider-item {
  flex-shrink: 0;
}

.banner .slider-container .slider-item img {
  width: 7.5rem;
  height: 3.38rem;
}

.banner .dots {
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
  display: flex;
}

.banner .dots span {
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  background-color: #fff;
  border-radius: 0.03rem;
  margin-left: 0.2rem;
}

.banner .dots span.active {
  background-color: #888;
}

/*自动轮播图结束*/

/*菜单开始*/
.menu {
  width: 100%;
  background-color: #fff;
  margin-top: 0.2rem;
}

.menu .menu-list {
  display: flex;
  /*flex-wrap: wrap;*/
  overflow-x: scroll;
  text-align: center;
  padding: 0.2rem 0;
}

.menu .menu-list .item {
  width: 25%;
  margin: 0.15rem 0;
  border-right: 1px solid #eee;
}

.menu .expand {
  width: 100%;
  background-color: #f9f9f9;
  padding: 0.15rem 0;
  text-align: center;
}

/*菜单结束*/

/*新闻资讯开始*/
.block-container {
  width: 100%;
  background-color: #fff;
  padding: 0 0.34rem;
  margin-top: 0.26rem;
}

.block-container .block-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.3rem 0;
}

.block-container .block-title h2 {
  flex: 1;
  padding-left: 0.2rem;
}

.block-container .block-main .block-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;
}

.block-container .block-main .block-menu span {
  text-align: center;
}

.block-container .block-main .block-menu .active a {
  border-bottom: 3px solid #db9e3f;
  color: #db9e3f;
  padding-bottom: 0.06rem;
}

.news-list .slider-container {
  width: 100%;
  display: flex;
}

.news-list .slider-container .slider-item {
  width: 100%;
  flex-shrink: 0;
}

.news-list .slider-container .slider-item .news-item {
  display: flex;
  height: 0.6rem;
  align-items: center;
  padding: 0 0.26rem;
}

.news-list .slider-container .slider-item .news-item a {
  flex: 1;
  margin-left: 0.26rem;
  margin-right: 0.12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.news-list .news-item::before {
  content: "";
  font-size: 0.2rem;
  border: 1px solid;
  padding: 0 0.1rem;
  white-space: nowrap;
  border-radius: 0.05rem;
}

.news-list .news-item.hot::before {
  content: "热门";
  color: #ff3636;
  border-color: #ff3636;
}

.news-list .news-item.news::before {
  content: "新闻";
  color: #1e96ab;
  border-color: #1e96ab;
}

.news-list .news-item.notice::before {
  content: "公告";
  color: #f09a37;
  border-color: #f09a37;
}

.news-list .news-item.match::before {
  content: "赛事";
  color: #4d9cff;
  border-color: #4d9cff;
}

.news-list .news-item.activity::before {
  content: "活动";
  color: #ff3636;
  border-color: #ff3636;
}

/*新闻资讯结束*/

/* 精灵图 */
.spr {
  background: url(../img/index_spr.png) no-repeat;
  background-size: 7.5rem;
  display: inline-block;
}

/* logo */
.spr_logo {
  background-position: 0 -6.16rem;
  width: 0.6rem;
  height: 0.6rem;
}

/* 立即下载 */
.spr_download {
  background-position: -1.18rem -6.18rem;
  width: 1.2rem;
  height: 0.48rem;
}

/* 菜单项 */
.spr_baoliaozhan {
  background-position: -3.76rem -1.16rem;
  width: 1.875rem;
  height: 0.7rem;
}
.spr_gushizhan {
  background-position: -5.64rem -1.14rem;
  width: 1.875rem;
  height: 0.7rem;
}
.spr_zhoubianshangcheng {
  background-position: -1.88rem 0.1rem;
  width: 1.875rem;
  height: 0.7rem;
}
.spr_tiyanfu {
  background-position: 0.04rem -1.14rem;
  width: 1.875rem;
  height: 0.7rem;
}
.spr_xinrenzhuanqu {
  background-position: -5.64rem 0.1rem;
  width: 1.875rem;
  height: 0.7rem;
}
.spr_rongyaochuancheng {
  background-position: -1.85rem -1.14rem;
  width: 1.875rem;
  height: 0.7rem;
}
.spr_wangzheyingdi {
  background-position: -3.76rem 0.12rem;
  width: 1.875rem;
  height: 0.7rem;
}
.spr_gongzhonghao {
  background-position: 0.7rem -8.2rem;
  width: 1.875rem;
  height: 0.7rem;
}
.spr_banbenjieshao {
  width: 1.875rem;
  height: 0.7rem;
  background: url(../img/version-icon.png) 0.66rem 0.1rem no-repeat;
  background-size: 0.55rem;
}
.spr_duijuhuanjing {
  background: url(../img/djhj.png) 0.55rem 0.1rem no-repeat;
  background-size: 0.8rem;
  width: 1.875rem;
  height: 0.7rem;
}
.spr_gongchuangjihua {
  background: url(../img/ipgc.png) 0.6rem 0 no-repeat;
  background-size: 0.7rem;
  width: 1.875rem;
  height: 0.7rem;
}
.spr_chuangyihudongying {
  background: url(../img/cyhdy.png) 0.6rem 0 no-repeat;
  background-size: 0.7rem;
  width: 1.875rem;
  height: 0.7rem;
}

/* 展开/折叠 */
.spr_expand {
  width: 0.2rem;
  height: 0.2rem;
  background-position: -2.8rem -4.64rem;
  transform: rotate(180deg);
}
.spr_collapse {
  width: 0.2rem;
  height: 0.2rem;
  background-position: -2.8rem -4.64rem;
}

/* 新闻资讯 */
.spr_news {
  width: 0.27rem;
  height: 0.3rem;
  background-position: 0 -4.44rem;
}

/* 更多 */
.spr_more {
  width: 0.4rem;
  height: 0.34rem;
  background-position: -3.38rem -5rem;
}

/* 英雄 */
.spr_hero {
  height: 0.26rem;
  background-position: -3.36rem -5.34rem;
  width: 0.27rem;
}

/* 视频 */
.spr_video {
  height: 0.24rem;
  background-position: 0 -5rem;
  width: 0.27rem;
}

/* 视频播放量 */
.spr_videonum {
  width: 0.25rem;
  height: 0.25rem;
  background-position: -2.34rem -4.64rem;
}
